#bmdlogo {
    max-height:  2.5rem;
}

html,body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.gradient {
    background: rgb(40,175,15);
    background: linear-gradient(
        90deg,
        rgba(40,175,15,1) 69%,
        rgba(242,240,38,1) 100%
    );
}

.page-header {
    margin-top: 4rem;
    font-size: 1.5rem;
    color: #fff;
    height: auto;
}

.header-background {
    
    background: url(../img/chris-becker-6ErV8fw0l34-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-container > svg {
    display: block;
}

.text-shadow {
    text-shadow: 1px 1px 3px #000000
}

.gallery img {
    border-radius: 50%/2%;
    filter: drop-shadow(0 0.75rem 0.75rem rgb(160, 159, 159));
}

.gallery img:hover {
    filter: blur(4px);
}

.gallery h1, .gallery h2 {
    text-decoration-color: #002b00;
    text-shadow: 1px 1px 3px #ede43d
}

.gallery h1 {
    margin-bottom: 2.5rem;
}

.centered {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.image-container p {
    font-size: 1.5rem;
    font-size: 2vmax;
}

#changeButton {
    margin-top: 2rem;
}